<% content_for :page_title, "Login" %>

<%= inline_svg "layout/background-blobs-header-2.svg", class: "header__blobs" %>

<div class="wrapper wrapper--tiny top-offset text-center">
  <div class="box">
    <h1 class="mt-0 mb-0">Login</h1>

    <div><strong><%= alert %></strong></div>

    <%= form_tag sessions_path do |form| %>
      <div class="form-group">
        <%= text_field_tag :username, "", placeholder: "Username", class: "form-input" %>
        <%= password_field_tag :password, "", placeholder: "Password", class: "form-input top-offset-small" %>

        <div class="checkbox top-offset-small">
          <%= check_box_tag :remember_me %>
          <%= label_tag :remember_me, "Remember me (uses cookies)" %>
        </div>
      </div>

      <%= button_tag "Submit", class: "button button--primary top-offset-half" %>
    <% end %>
  </div>

  <h1 class="top-offset mb-0">Create an account</h1>

  <div class="form-group">
    <p>
      <em>Register an account to upload your own models, create collections, favorite posts, and much more!</em>
    </p>

    <%= link_to "Create an account", new_user_path, class: "button button--secondary button--inline" %>
  </div>
</div>
