<%= form_for @user, url: url do |f| %>
  <% if user.errors.any? %>
    <div class="error-block">
      <h2 class="error-block__title"><strong><%= pluralize(user.errors.count, "error") %></strong> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><small><%= message %></small></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :username, placeholder: "Username", class: "form-input" %>
    <%= f.password_field :password, placeholder: "Password", class: "form-input top-offset-small" %>
    <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: "form-input top-offset-small" %>

    <div class="form-hint top-offset-small">Please use a unique password. Passwords are encrypted and securely stored.</div>
  </div>

  <%= submit_tag "Submit", class: "button button--primary" %>
<% end %>
