<% content_for :page_title, "Your account" %>

<%= inline_svg "layout/background-blobs-header-2.svg", class: "header__blobs" %>

<div class="wrapper wrapper--tiny top-offset text-center">
  <div class="box">
    <h1 class="mt-0 mb-0">Your account</h1>

    <div class="top-offset">You are logged in as <strong><%= current_user.username %></strong></div>

    <%= button_to "Dark mode", update_user_path, controller: :user, method: :patch, params: { user: { dark_mode: !current_user.dark_mode } }, class: "switch__input", form_class: "switch #{ 'switch--active' if current_user.dark_mode? } top-offset" %>

    <%= link_to "Edit your account", edit_user_path, class: "button button--primary top-offset" %>
    <%= link_to "Logout", logout_path, class: "button button--secondary top-offset-small" %>
  </div>
</div>
