<header class="hero">
  <%= inline_svg "layout/full-bubbles.svg", class: "hero__bubbles" %>
</header>

<div class="featured">
  <h1><center>Featured Creations</center></h1>

  <div class="featured__items">
    <% @featured_posts.each do |post| %>
      <%= link_to post_path(post.slug), class: "featured__item" do %>
        <div class="featured__item-content">
          <% if post.images.any? %>
            <%= image_tag post.images.first.variant(quality: 85, resize_to_fill: [370, 370]).processed, class: "featured__image" %>
          <% else %>
            <%= image_tag "https://placehold.it/370x370", class: "featured__image" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<h1><center>Popular Creations</center></h1>

<main class="items">
  <%= render @hot_posts %>
</main>

<h1><center>Recent Creations</center></h1>

<main class="items">
  <%= render @posts %>
</main>
