<%= form_tag "", class: "filter", data: { role: "filter" } do %>
  <div class="filter__content">
    <div class="dropdown input-dropdown" data-role="dropdown" data-action="toggle-dropdown-content">
      In <span data-role="input-dropdown-value" class="input-dropdown__value"><%= params[:category] || "..." %></span>

      <div class="dropdown__content" data-role="dropdown-content">
        <% categories.each do |category| %>
          <%= link_to category, "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: category } %>
        <% end %>

        <%= link_to "Remove", "#", class: "dropdown__item dropdown__item--tray", data: { action: "input-dropdown-set-value", unset: "" } %>

        <%= text_field_tag :category, params[:category], class: "input-dropdown__input", data: { role: "input-dropdown-input" } %>
      </div>
    </div>

    <div class="dropdown input-dropdown" data-role="dropdown" data-action="toggle-dropdown-content">
      From <span data-role="input-dropdown-value" class="input-dropdown__value"><%= params[:from] || "..." %></span>

      <div class="dropdown__content" data-role="dropdown-content">
        <%= link_to "1 day ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 1.day.ago.strftime("%Y-%m-%d") } %>
        <%= link_to "3 days ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 3.days.ago.strftime("%Y-%m-%d") } %>
        <%= link_to "1 week ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 1.week.ago.strftime("%Y-%m-%d") } %>
        <%= link_to "1 month ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 1.month.ago.strftime("%Y-%m-%d") } %>
        <%= link_to "3 months ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 3.months.ago.strftime("%Y-%m-%d") } %>
        <%= link_to "6 months ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 6.months.ago.strftime("%Y-%m-%d") } %>
        <%= link_to "1 year ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 1.year.ago.strftime("%Y-%m-%d") } %>

        <%= link_to "Remove", "#", class: "dropdown__item dropdown__item--tray", data: { action: "input-dropdown-set-value", unset: "" } %>

        <%= date_field_tag :from, params[:from], class: "input-dropdown__input", data: { role: "input-dropdown-input" } %>
      </div>
    </div>

    <div class="dropdown input-dropdown" data-role="dropdown" data-action="toggle-dropdown-content">
      To <span data-role="input-dropdown-value" class="input-dropdown__value"><%= params[:to] || "..." %></span>

      <div class="dropdown__content" data-role="dropdown-content">
        <%= link_to "1 day ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 1.day.ago.strftime("%Y-%m-%d") } %>
        <%= link_to "3 days ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 3.days.ago.strftime("%Y-%m-%d") } %>
        <%= link_to "1 week ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 1.week.ago.strftime("%Y-%m-%d") } %>
        <%= link_to "1 month ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 1.month.ago.strftime("%Y-%m-%d") } %>
        <%= link_to "3 months ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 3.months.ago.strftime("%Y-%m-%d") } %>
        <%= link_to "6 months ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 6.months.ago.strftime("%Y-%m-%d") } %>
        <%= link_to "1 year ago", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: 1.year.ago.strftime("%Y-%m-%d") } %>

        <%= link_to "Remove", "#", class: "dropdown__item dropdown__item--tray", data: { action: "input-dropdown-set-value", unset: "" } %>

        <%= date_field_tag :to, params[:to], class: "input-dropdown__input", data: { role: "input-dropdown-input" } %>
      </div>
    </div>

    <div class="dropdown input-dropdown" data-role="dropdown" data-action="toggle-dropdown-content">
      Sorted by <span data-role="input-dropdown-value" class="input-dropdown__value"><%= params[:sort] || "..." %></span>

      <div class="dropdown__content" data-role="dropdown-content">
        <%= link_to "Time", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: "time" } %>
        <%= link_to "Popularity", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: "popularity" } %>
        <%= link_to "Views", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: "views" } %>
        <%= link_to "Favorites", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: "favorites" } %>
        <%= link_to "Downloads", "#", class: "dropdown__item", data: { action: "input-dropdown-set-value", value: "downloads" } %>

        <%= link_to "Remove", "#", class: "dropdown__item dropdown__item--tray", data: { action: "input-dropdown-set-value", unset: "" } %>

        <%= text_field_tag :sort, params[:sort], class: "input-dropdown__input", data: { role: "input-dropdown-input" } %>
      </div>
    </div>
  </div>

  <div class="filter__tray">
    <%= link_to "+ More filters", "", class: "filter__link" %>
  </div>

  <%= text_field_tag :search, params[:search], class: "filter__search form-input", placeholder: "Search" %>

  <%= button_tag "Go", class: "button button--secondary button--inline" %>
<% end %>
