<%= form_with url: path, model: post, local: true, html: { data: { role: "post-form" } } do |form| %>
  <% if post.errors.any? %>
    <div class="error-block">
      <h2 class="error-block__title"><strong><%= pluralize(post.errors.count, "error") %></strong> prohibited this Item from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><small><%= message %></small></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <article class="post top-offset">
    <div class="post__image">
      <div class="form-group mt-0">
        <%= form.text_field :title, class: "form-input form-input--large", placeholder: "Title" %>
      </div>

      <div class="form-group">
        <%= form.file_field :images, multiple: true, direct_upload: true, class: "hidden-field" %>
        <%= form.file_field :files, multiple: true, direct_upload: true, class: "hidden-field" %>

        <div class="dropzone top-offset" data-role="dropzone">
          <strong>Drop images and .stl files here to add them to your post</strong>

          <small>Images will be processed to a 770x513 format</small>
        </div>

        <div class="images-preview top-offset" data-role="form-image-thumbnails sortable">
          <% @post.images.each do |image| %>
            <div class="images-preview__item"><%= image_tag image.variant(convert: "jpg", quality: 85, resize_to_fill: [200, 200]).processed %></div>
          <% end %>
        </div>
      </div>
    </div>

    <main class="post__content">
      <div class="form-group">
        <%= form.label :description, class: "form-label" %>

        <div class="form-hint">
          Write a short description.<br>
          <strong>This description is full Markdown enabled.</strong> **bold**, _italic_, <%= link_to "and everything else", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", target: "_blank" %>. Add YouTube videos using <code>[youtube VIDEO_ID]</code>
        </div>

        <%= form.text_area :description, class: "form-input form-textarea", data: { role: "resizing-textarea" } %>
      </div>

      <div class="top-offset">
        <center><%= form.button class: "button button--primary button--inline" %></center>
      </div>
    </main>

    <aside class="post__top-sidebar">
      <div class="file-list" data-role="file-list">
        <h3 class="file-list__title">Files</h3>

        <% @post.files.each do |file| %>
          <div class="file-list__item" data-file="<%= file.filename %>">
            <%= file.filename %>
          </div>
        <% end %>

        <% if @post.files.empty? %>
          <div class="file-list__item">
            You have no yet added any <code>.stl</code> files. Your files will appear here when you add them.
          </div>
        <% end %>
      </div>
    </aside>

    <aside class="post__content-sidebar">
      <h3 class="mt-0">Settings</h3>

      <div class="form-group">
        <%= form.label :categories, class: "form-label" %>

        <div class="form-hint">
          Select categories that fit your item. You can select up to 3 categories that you feel are relevant. Selecting a large amount of categories might result in your item being more difficult to find.
        </div>

        <%= form.select :categories, options_for_select(categories, (JSON.parse(@post.categories) if @post.categories)), { include_hidden: false }, { multiple: true, size: 5, class: "form-select" } %>
      </div>

      <div class="form-group top-offset">
        <%= form.label :tags, class: "form-label" %>

        <div class="form-hint">
          Choose tags that people might search for to find your item. You can choose up to 5 tags. A large amount of irrelevant tags might result in your item being more difficult to find. <strong>Separate tags with a comma and a space <code>,&nbsp;</code>.</strong>
        </div>

        <%= form.text_field :tags, class: "form-input", placeholder: "These, are, separate, tags" %>
      </div>
    </aside>

    <%= form.invisible_captcha :subtitle %>
  </article>
<% end %>
