<%= inline_svg "layout/background-blobs-header-2.svg", class: "header__blobs header__blobs--negative-offset" %>

<%= render "filter" %>

<h1><center>Filtered Creations</center></h1>

<main class="items">
  <%= render @posts %>
</main>

<%= link_to "New post", new_post_path, class: "button button--secondary button--inline" %>

<%= paginate @posts %>
