<%= inline_svg "layout/background-blobs-header-2.svg", class: "header__blobs header__blobs--negative-offset" %>

<%= render "filter" %>

<h1><center>Filtered Creations <small>(<%= number_to_human @posts.count %>)</small></center></h1>

<%= render "posts", posts: @posts %>

<%= paginate @posts %>
