<% content_for :page_title, @post.title %>

<%= inline_svg "layout/background-blobs-header-1.svg", class: "header__blobs" %>

<article class="post">
  <div class="post__image carousel">
    <% if @post.files.any? %>
      <% @post.files.each do |file| %>
        <div class="model-viewer" data-role="model-viewer"></div>
      <% end %>
    <% end %>

    <div class="carousel__wrapper">
      <div data-role="carousel">
        <% @post.images.each do |image| %>
          <picture>
            <source media="(min-width: 560px)" srcset="<%= url_for image.variant(quality: 85, resize_to_fill: [770, 480]).processed %>" type="image/jpg">
            <source media="(min-width: 0px)" srcset="<%= url_for image.variant(quality: 85, resize_to_fill: [335, 256]).processed %>" type="image/jpg">
            <%= image_tag image.variant(quality: 85, resize_to_fill: [770, 480]).processed %>
          </picture>
        <% end %>
      </div>
    </div>

    <div class="carousel__navigation">
      <% @post.images.each_with_index do |image, index| %>
        <div class="carousel__item" data-action="carousel-go-to" data-target="<%= index %>">
          <%= image_tag image.variant(quality: 85, resize_to_fill: [120, 120]).processed %>
        </div>
      <% end %>
    </div>
  </div>

  <main class="post__content">
    <h1 class="mt-0"><%= @post.title %></h1>

    <%= markdown(@post.description) %>
  </main>

  <aside class="post__top-sidebar">
    <%= link_to "Download files", "#", class: "button button--primary" %>

    <div class="button button--secondary top-offset">
      <%= render "favorites/form", post: @post %>
    </div>

    <%= link_to "Add a make", "#", class: "button button--secondary" %>
    <%= link_to "Add to collection", "#", class: "button button--secondary" %>
  </aside>

  <aside class="post__content-sidebar">
    Sidebar <br>

    Views: <%= @post.impressions_count %> <br>
    Hotness: <%= @post.hotness %>

    <div>
      <% @post.files.each_with_index do |file, index| %>
        <div>
          <%= link_to asset_path rails_blob_path(file), target: "_blank" do %>
            <%= file.filename %>
          <% end %>

          (<%= number_to_human_size file.byte_size %>)
        </div>
      <% end %>
    </div>
  </aside>
</article>
