<% content_for :page_title, @post.title %>

<% image_ids = @post.image_order || "[]" %>
<% ordered_images = JSON.parse(image_ids).collect {|i| @post.images.find_by_blob_id(i) } %>

<%= inline_svg "layout/background-blobs-header-1.svg", class: "header__blobs" %>

<article class="post">
  <div class="post__image carousel">
    <div class="model-viewer" data-role="model-viewer"></div>

    <div class="carousel__wrapper">
      <div data-role="carousel">
        <% ordered_images.each_with_index do |image, index| %>
          <div class="carousel__item">
            <picture>
              <source media="(min-width: 560px)" <%= "data-" if index >= 2 %>srcset="<%= url_for image.variant(quality: 95, resize_to_fill: [770, 480]).processed %>" type="image/png">
              <source media="(min-width: 0px)" <%= "data-" if index >= 2 %>srcset="<%= url_for image.variant(quality: 95, resize_to_fill: [335, 256]).processed %>" type="image/png">
              <img <%= "data-" if index >= 2 %>src="<%= url_for image.variant(quality: 95, resize_to_fill: [770, 480]).processed %>" %>
            </picture>

            <% if @post.file_associations %>
              <div class="carousel__actions">
                <% stl_id = JSON.parse(@post.file_associations).select { |file_association| file_association["image"] == image.blob_id } %>

                <% if stl_id.any? %>
                  <% file = @post.files.find_by_blob_id(stl_id[0]["stl"]) %>

                  <%= link_to "Download file", asset_path(rails_blob_path(file)), class: "button button--action" %>

                  <div class="button button--action" data-action="set-model-viewer" data-src="<%= url_for file %>">
                    View in model viewer
                    <small><%= number_to_human_size file.byte_size %></small>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="carousel__navigation">
      <% ordered_images.each_with_index do |image, index| %>
        <div class="carousel__navigation-item" data-action="carousel-go-to" data-target="<%= index %>">
          <%= image_tag image.variant(quality: 95, resize_to_fill: [120, 120]).processed %>
        </div>
      <% end %>
    </div>
  </div>

  <main class="post__content">
    <h1 class="mt-0"><%= @post.title %></h1>

    <div class="user-content">
      <%= markdown(@post.description) %>
    </div>

    <hr>

    <h1><span data-role="comment-total"><%= @post.comments.count %></span> Comments</h1>

    <%= render "comments/form", post: @post %>

    <div class="comments" data-role="comments">
      <%= render @post.comments.where(parent_id: nil).order(created_at: :desc) %>
    </div>
  </main>

  <aside class="post__top-sidebar">
    <%= link_to "Download files", "#", class: "button button--primary" %>

    <div class="button button--secondary top-offset" data-action="favorite-wrapper">
      <%= render "favorites/form", favoritable_type: "Post", favoritable_id: @post.id %>
    </div>

    <%= link_to "Add a print", "#", class: "button button--secondary top-offset-small" %>
    <%= render "collections/dropdown" %>

    <%= link_to "Edit your post", edit_post_path(@post.slug), class: "button button--secondary top-offset" if @post.user == current_user %>
  </aside>

  <aside class="post__content-sidebar">
    Sidebar <br>

    Views: <%= @post.impressions_count %> <br>
    Hotness: <%= @post.hotness %>

    <div>
      <% @post.files.each do |file| %>
        <div>
          <%= link_to asset_path rails_blob_path(file), target: "_blank" do %>
            <%= file.filename %>
          <% end %>

          (<%= number_to_human_size file.byte_size %>)
        </div>
      <% end %>
    </div>
  </aside>
</article>
