<% content_for :page_title, @post.title %>

<%= inline_svg "layout/background-blobs-header-1.svg", class: "header__blobs" %>

<article class="post">
  <div class="post__image carousel">
    <!-- <div class="model-viewer" data-role="model-viewer"></div> -->

    <div data-role="carousel">
      <% @post.images.each do |image| %>
        <picture>
          <source media="(min-width: 560px)" srcset="<%= url_for image.variant(convert: "jpg", quality: 85, resize_to_fill: [770, 480]).processed %>" type="image/jpg">
          <source media="(min-width: 0px)" srcset="<%= url_for image.variant(convert: "jpg", quality: 85, resize_to_fill: [335, 256]).processed %>" type="image/jpg">
          <%= image_tag image.variant(convert: "jpg", quality: 85, resize_to_fill: [770, 480]).processed %>
        </picture>
      <% end %>
    </div>


    <div class="carousel__navigation">
      <% @post.images.each_with_index do |image, index| %>
        <div class="carousel__item" data-action="carousel-go-to" data-target="<%= index %>">
          <%= image_tag image.variant(convert: "jpg", quality: 85, resize_to_fill: [120, 120]).processed %>
          <%= number_to_human_size image.byte_size %>
        </div>
      <% end %>
    </div>
  </div>

  <main class="post__content">
    <h1 class="mt-0"><%= @post.title %></h1>

    <%= markdown(@post.description) %>
  </main>

  <aside class="post__top-sidebar">
    <%= link_to "Download files", "#", class: "button button--primary" %>

    <div class="button button--secondary top-offset">
      <%= render "favorites/form", post: @post %>
    </div>

    <%= link_to "Add a make", "#", class: "button button--secondary" %>
    <%= link_to "Add to collection", "#", class: "button button--secondary" %>
  </aside>

  <aside class="post__content-sidebar">
    Sidebar
  </aside>
</article>
