<header class="header">
  <nav class="navigation">
    <div class="navigation__main">
      <%= link_to inline_svg("logo.svg"), root_path, class: "navigation__logo" %>

      <%= link_to "Discover", discover_path, class: "navigation__item" %>
    </div>

    <div class="navigation__actions">
      <div>
        <% if current_user %>
          <%= link_to current_user.username, account_path, class: "navigation__item navigation__item--small" %>
        <% else %>
          <%= link_to "Login", login_path, class: "navigation__item navigation__item--small" %>
          &nbsp;/&nbsp;
          <%= link_to "Register", new_user_path, class: "navigation__item navigation__item--small" %>
        <% end %>
      </div>

      <%= render "search" %>

      <%= link_to "Create", new_post_path, class: "button button--alternative button--inline" %>
    </div>
  </nav>

  <% unless simple_mode? %>
    <%= inline_svg "layout/header-bubbles.svg", class: "header__bubbles" unless controller_name == "frontpage" %>
  <% else %>
    <div class="header__background"></div>
  <% end %>
</header>
