<header class="header">
  <nav class="navigation">
    <%= link_to inline_svg("logo.svg"), root_path %>

    <div>
      <% if current_user %>
        Logged in as <%= link_to current_user.username, account_path %>
      <% else %>
        <%= link_to "Login", login_path %>
        <%= link_to "Register", new_user_path %>
      <% end %>
    </div>

    <%= render "search" %>
  </nav>

  <%= inline_svg "layout/header-bubbles.svg", class: "header__bubbles" %>
</header>
