<!DOCTYPE html>
<html lang="en" class="<%= "dark-mode" if current_user && current_user.dark_mode? %> <%= "simple-mode" if simple_mode? %>">
  <head>
    <title><%= yield(:page_title) != "" ? yield(:page_title) + " | shapedlike.space" : "shapedlike.space" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="theme-color" content="">

    <link rel="manifest" href="/manifest.json">

    <link rel="icon" type="image/png" href="<%= image_path "favicon/favicon-32x32.png" %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= image_path "favicon/favicon-16x16.png" %>" sizes="16x16" />

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <div class="wrapper">
      <%= render "header" %>

      <%= yield %>

      <%= render "footer" %>
    </div>
  </body>
</html>
