<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:page_title) != "" ? yield(:page_title) + " | shapedlike.space" : "shapedlike.space" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="theme-color" content="">

    <link rel="manifest" href="/manifest.json">

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "header" %>

      <%= yield %>

      <%= render "footer" %>
    </div>
  </body>
</html>
